<mdzSys DateNull="0001-01-01 00:00:00"
        DateDefault="2020-01-01 00:00:00"
        UrlPrivateServer="">
  <Smtp Server="localhost"
        Authenticate="False"
        Authenticate_Port="587"
        Authenticate_UserName=""
        Authenticate_Password=""
        LogErrors="False"
        ThrowErrors="False"/>
  <WriteLog File="~mdzLog.txt"/>
  <ErrorLog File="~ErrorLog.txt"
            From="admin@example.com"
            To="admin@example.com"
            CC=""
            ThrowErrors="False"/>
  <PerformanceCheck Enable="True"
                    File="~mdzPerformance.txt"/>
</mdzSys>
