<mdzSys DateNull="1 1 1 0 0 0"
        DateDefault="2020 1 1 0 0 0"
        UrlPrivateServer=""
  <Smtp Server="localhost"
        Authenticate="False"
        Authenticate_Port="587"
        Authenticate_UserName=""
        Authenticate_Password=""
        LogErrors="False"
        ThrowErrors="False"/>
  <WriteLog File="~mdzLog.txt"/>
  <ErrorLog File="~ErrorLog.txt"
            From="admin@example.com"
            To="admin@example.com"
            CC=""
            ThrowErrors="False"/>
  <PerformanceCheck Enable="True"
                    File="~mdzPerformance.txt"/>
</mdzSys>
